<label class="switch">
  <input (click)="toggleBackground()" type="checkbox">
  <span class="slider round"></span>
</label>
<div *ngIf="!isChapterSelected">
  <h3>Select a Chapter</h3>
  <select (change)="selectChapter($event)">
    <option value="">-- Select a Chapter --</option> <!-- Empty option to prevent default -->
    <option *ngFor="let chapter of chapters" [value]="chapter">{{ chapter }}</option>
  </select>
</div>

<div class="question-container" *ngIf="isChapterSelected">
  <!-- Progress bar -->
  <div class="progress-container">
    <div class="progress-bar" [style.width.%]="progress"></div>
  </div>
  <div class="question-content">
    <h3>{{currentQuestion.chapter}}</h3>
    <h5>{{ currentQuestion.question }}</h5>
  </div>

  <!-- Options for the current question -->
  <div class="options-container">
    <div *ngFor="let option of currentQuestion.options">
      <input
        type="checkbox"
        [checked]="selectedAnswers.includes(option)"
        (change)="toggleAnswer(option)"
      />
      {{ option }}
    </div>
  </div>
  <span class="button-parent">
    <button (click)="submitAnswers()">Submit Answers</button>
    <a class="refresh-page" (click)="refreshPage()">Menu</a>
  </span>
</div>
